{:deps
 {closh/closh
  {:git/url "https://github.com/dundalek/closh.git",
   :tag "v0.3.3",
   :sha "093c8a55c9c3d2a326435d6943a92e5b8090cda1"},
  liquid/liquid
  {:git/url "https://github.com/mogenslund/liquid.git",
   :tag "v1.0.1",
   :sha "378996e518a7661d04fa1003bd5cee72c3cdeace"}},
 :paths ["." "src"]}
